@model RSWEB_SProekt.ViewModels.AuthorFilter

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Authors" asp-action="Index" method="get">
<p>
Име: <input type="text" asp-for="FirstNameString" />
Презиме: <input type="text" asp-for="LastNameString" />
<select asp-for="NationalityString" asp-items="Model.NationalityList">
<option value="">Пребарувај по националност</option>
</select>
<input type="submit" value="Filter" />
</p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].Nationality)
            </th>
            <th>
                Види книги по автор
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Authors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                <a asp-controller="Books" asp-action="BooksByAuthor" asp-route-id="@item.Id">Излистај ги книгите од овој автор</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
